<div class="row ">
    @*level1*@
    <div class="col-sm-3 col-md-3 col-lg-3 "></div>
    <div class="col-sm col-md col-lg "></div>
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <img width="300" height="300" src="~/Content/Image/太陽能.png" />
    </div>
    <div class="col-sm col-md col-lg text-left">
        <h3>太陽能</h3>
        <h3>功率 : @TempData["solar"] kW</h3>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>

    <div class="w-100"></div>
    @*level2*@
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm col-md col-lg "></div>
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <img src="~/Content/Image/Arrow/down-arrow.png" />
    </div>
    <div class="col-sm col-md col-lg "></div>
    <div class="col-sm-3 col-md-3 col-lg-3 "></div>

    <div class="w-100"></div>
    @*level3*@
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <img width="300" height="300" src="~/Content/Image/市電.png" />
    </div>
    <div class="col-sm col-md col-lg text-left">
        <h3>市電</h3>
        <h3>功率 : @TempData["GirdPower"] kW</h3>
        <img src="~/Content/Image/Arrow/right-arrow.png" />
        <img src="~/Content/Image/Arrow/right-arrow.png" />
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <img width="300" height="450" src="~/Content/Image/防災儲能系統.png" />
    </div>
    <div class="col-sm col-md col-lg text-right">
        <h3>負載</h3>
        <h3>功率 : @TempData["Load"] kW</h3>
        <img src="~/Content/Image/Arrow/right-arrow.png" />
        <img src="~/Content/Image/Arrow/right-arrow.png" />
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <img width="300" height="300" src="~/Content/Image/負載.png" />
    </div>

    <div class="w-100"></div>
    @*level4*@
    <div class="col-sm-3 col-md-3 col-lg-3"> </div>
    <div class="col-sm col-md col-lg ">
        <img src="~/Content/Image/Arrow/diagonal-arrow.png" />
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <img src="~/Content/Image/Arrow/transfer.png" />
    </div>
    <div class="col-sm col-md col-lg "></div>
    <div class="col-sm-3 col-md-3 col-lg-3 "></div>

    <div class="w-100"></div>
    @*level5*@
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <img width="300" height="300" src="~/Content/Image/發電機.png" />
    </div>
    <div class="col-sm col-md col-lg "></div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <img width="300" height="300" src="~/Content/Image/電池.png" />
        <p>儲能電池</p>
    </div>
    <div class="col-sm col-md col-lg text-left">
        <h3>電池</h3>
        <h3>狀態 : @TempData["BatteyModa"] </h3>
        <h3>SOC : @TempData["BatteySOC"]% </h3>
        <h3>功率 : @TempData["BatteyPower"] kW</h3>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 "></div>

</div>
