@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@model IPagedList<Web.Models.Tabs.AlartGroup>
@{
    Layout = "~/Areas/APP/Views/Shared/_LayoutAPPDetail .cshtml";
    ViewBag.AppTitle = "警示清單";
    string name = ViewBag.name;
    string sday= ViewBag.RangeStart;
    string eday = ViewBag.RangeEnd;
    Guid StationID = ViewBag.SID;
}

<div class="container">
    <div class="row">
        <div class="col my-0">
            <h1 class="col my-2">警示設備 @ViewBag.equip</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <tbody >
                    @foreach (var alart in Model)
                    {
                    <tr >
                        <td  class="my-0 py-1">
                            <p class="my-0 h6">@alart.Item</p>
                            <p class="my-0">開始: @alart.Start</p>
                            <p class="my-0">結束: @alart.End</p>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div  style="font-size:small">@Html.PagedListPager(Model, Page => Url.Action("AbList", new { Page , name,  sday,  eday, StationID }), PagedListRenderOptions.OnlyShowFivePagesAtATime)</div>
        </div>
    </div>
</div>

