@{
    Layout = "~/Areas/APP/Views/Shared/_LayoutAPPDetail .cshtml";
}
@Html.Partial("flexslider")

<div class="container">
    <div class="flexslider" style="width:auto; margin-left:auto; background-color: transparent;border: 0px;">
        <ul class="slides">
            <li id="fs1">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/Load.cshtml")
                </div>
            </li>
            <li id="fs2">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/Solar.cshtml")
                </div>
            </li>
            <li id="fs3">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/GridPower.cshtml")
                </div>
            </li>
            <li id="fs4">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/Generator.cshtml")
                </div>
            </li>
            <li id="fs5">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/Battery.cshtml")
                </div>
            </li>
            <li id="fs6">
                <div>
                    @Html.Partial("~/Areas/APP/Views/APP/Info/Inverters.cshtml")
                </div>
            </li>
        </ul>
    </div>
</div>
