@{ 
    ViewBag.User = Session["UserName"] == null ? "使用者" : Session["UserName"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    @Html.Partial("Stylesheet")
    @Html.Partial("Scripts")
    @Html.Partial("mmenu")

    <style type="text/css">
        div.pad {
            margin: 0;
            padding: 0;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .pictureMainAPP {
            width: 100vw; /*width of your image*/
            height: 100vh; /*height of your image*/
            background-image: url('../../Content/Image/BackupGroup.png');
            margin: 0; /* If you want no margin */
            padding: 0; /*if your want to padding */
            background-size: 100% 100%;
        }

        li {
            margin: 0;
        }
    </style>

</head>
<body>
    <div class="container-fluid text-center pad"  id="top-bar">
        <div class="row  pad">
            <div class="col-2  pad ">
                <div class="page">
                    <div class="header">
                        <a href="#menu" data-icon="grid"></a>
                        <nav id="menu">
                            <ul>
                                <li>
                                    <table class="table text-center  align-middle ">
                                        <tr>
                                            <th scope="col" style="padding:0;vertical-align:middle;margin:0"><img src="~/Content/Image/Emblem_of_Pingtung_County.png" style="width:50px;height:50px;margin:auto" /></th>
                                            <th scope="col" style="padding:0;vertical-align:middle;margin:0">
                                                <h1><span>屏東防災微電網</span></h1>
                                                <h2 class="text-right " style="padding-right:10px;vertical-align:middle;margin:0"><em>@ViewBag.User  </em></h2>
                                            </th>
                                        </tr>
                                    </table>
                                </li>
                                <li><a href="@Url.Action("Index", "APP")"><h1>即時資訊</h1></a></li>
                                <li><a href="@Url.Action("Bulletin", "APP")"><h1>公告資訊</h1></a></li>
                                <li><a href="@Url.Action("Abnormal", "APP")"><h1>異常警示</h1></a></li>
                                <li><a href="@Url.Action("APPout", "Account")"><h1>登出</h1> </a></li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="col pad text-center text-light " style="font-size:x-large;vertical-align:middle">@ViewBag.AppTitle</div>
            <div class="row pictureMainAPP pad">
                <div class="col pad">
                    <div class="mainBody pad">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


