@using Service.ESS.Provider;
@using Service.ESS.Model;
@using Web.Models.Json.Inverter;
@{
    //取最新時間
    ESSObjecterService eSSObjecterService = new ESSObjecterService();
    string EssTime = eSSObjecterService.ReadNow().CreateTime.ToString();
    //取相關資料
    InverterService InverterService = new InverterService();
    List<Inverter> inverters = new List<Inverter>();
    var ReadNow = eSSObjecterService.ReadNow().InvertersIDs;
    if (ReadNow != null)
    {
        var invID = ReadNow.Split('|');
        foreach (var x in invID)
        {
            if (!string.IsNullOrEmpty(x))
            {
                Guid id = Guid.Parse(x.Trim());
                inverters.Add(InverterService.ReadByID(id));
            }
        }
    }
    }

<style>
    .line {
        width: auto;
        height: auto;
        border-bottom: 1px solid black;
    }
</style>


<div class="row">
    <!--lift-->
    <div class="col-2 h6">
        @if (inverters != null)
        {
            <div class="row " id="pc0">
                <div class="col font-weight-bold small">資料時間(UTC+8)</div>
                <div class="col font-italic">@EssTime</div>
                @foreach (var inv in inverters)
                {
                    var index = inv.SPMid.Split('|');
                    var voltage = inv.SPM90Voltage.Split('|');
                    var current = inv.SPM90Current.Split('|');
                    var energy = inv.SPM90ActiveEnergy.Split('|');
                    var power = inv.SPM90ActivePower.Split('|');

                    for (int i = 0; i < index.Length - 1; i++)
                    {
                        string Info1 = index[i];
                        string Info2 = string.Format("{0:#,0.00}", Convert.ToDouble(voltage[i]));
                        string Info3 = string.Format("{0:#,0.00}", Convert.ToDouble(current[i]));
                        string Info4 = string.Format("{0:#,0.00}", Convert.ToDouble(power[i]) / 1000.0);
                        string Info5 = string.Format("{0:#,0.00}", Convert.ToDouble(energy[i]));
                        <div class="w-100 line"></div>
                        <div class="col font-weight-bold small">太陽能</div>
                        <div class="col font-italic">@Info1</div>
                        <div class="w-100"></div>
                        <div class="col font-weight-bold small">電壓(V)</div>
                        <div class="col font-italic">@Info2</div>
                        <div class="w-100"></div>
                        <div class="col font-weight-bold small">電流(A)</div>
                        <div class="col font-italic">@Info3</div>
                        <div class="w-100"></div>
                        <div class="col font-weight-bold small">功率(kW)</div>
                        <div class="col font-italic">@Info4</div>
                        <div class="w-100"></div>
                        <div class="col font-weight-bold small">發電量(kWh)</div>
                        <div class="col font-italic">@Info5</div>
                        <div class="w-100"></div>
                    }
                }
            </div>
        }
    </div>
    <!--middle-->
    <div class="col-8">
        <div id="SolarChart" style="height:500px">
            <script type="text/javascript">
                var dom = document.getElementById("SolarChart");
            var SolarChart = echarts.init(dom);
            //時間兩位
            function paddingLeft(str, lenght) {
                if (str.length >= lenght)
                    return str;
                else
                    return paddingLeft("0" + str, lenght);
            }
            //X軸座標
                var xData = [];
                var h =@TempData["Solarhh"] ;
                var m =@TempData["Solarmm"];
                for (var i = 0; i < 24; i++) {
                    for (var j = 0; j < 60; j = j + 15) {
                        var hh = i;
                        var mm = j;
                        if (h == 0) {
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                        }
                        if (h > 0) {
                            hh = i + h;
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                            if (hh >= 24) {
                                hh = hh - 24;
                            }
                        }
                        xData.push("'" + paddingLeft(hh.toString(), 2) + "時" + paddingLeft(mm.toString(), 2) + "分'");
                    }
                }
            //Y軸座標
                 var SolarData = [];
                SolarData.push(@TempData["SolarData"] );
                option = null;
                option = {
                    title: {
                        text: '發電瓦數',
                        textStyle: {
                            fontWeight: 'normal',
                            color: 'white'
                        },
                        x: "center"
                    },
                    tooltip: {
                        show: true
                    },
                    xAxis: [
                        {
                            name: '時間軸',
                            type: 'category',
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'white',
                                    width: 10
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '用電單位',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'white',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}kW'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "發電瓦數",
                            "type": "line",
                            "data": SolarData,
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    SolarChart.setOption(option, true);
                }
            </script>
        </div>
    </div>
    <!--right-->
    <div class="col-2 h3">
        <div class=" bg-light">可用總電量</div>
        <div class="font-italic">@ViewBag.Demand</div>
        <div class="bg-light">可用電時數</div>
        <div class="font-italic">@ViewBag.RemainTime</div>
    </div>
</div>





