
<style>
    .line {
        width: auto;
        height: auto;
        border-bottom: 1px solid black;
    }
</style>

<div class="row">
    <!--lift-->
    <div class="col-2 h6">
        <div class="row " id="pc0">
            <div class="col font-weight-bold ">資料時間:@ViewBag.EssTime</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold ">電池組 @ViewBag.BatteryInfo11</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池電壓(V)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo12</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo13</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">放電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo14</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池容量(%)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo15</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">充電次數(次)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo16</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電方向</div>
            <div class="col font-italic">@ViewBag.BatteryInfo17</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold ">電池組 @ViewBag.BatteryInfo21</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池電壓(V)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo22</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo23</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">放電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo24</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池容量(%)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo25</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">充電次數(次)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo26</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電方向</div>
            <div class="col font-italic">@ViewBag.BatteryInfo27</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold ">電池組 @ViewBag.BatteryInfo31</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池電壓(V)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo32</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo33</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">放電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo34</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池容量(%)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo35</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">充電次數(次)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo36</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電方向</div>
            <div class="col font-italic">@ViewBag.BatteryInfo37</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold ">電池組 @ViewBag.BatteryInfo41</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池電壓(V)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo42</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo43</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">放電電流(A)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo44</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池容量(%)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo45</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">充電次數(次)</div>
            <div class="col font-italic">@ViewBag.BatteryInfo46</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">充電方向</div>
            <div class="col font-italic">@ViewBag.BatteryInfo47</div>
        </div>
    </div>
    <!--middle-->
    <div class="col-8">
        <div id="BatteryChart" style="height:500px">
            <script type="text/javascript">
                var dom = document.getElementById("BatteryChart");
                var BatteryChart = echarts.init(dom);
                //時間兩位
                function paddingLeft(str, lenght) {
                    if (str.length >= lenght)
                        return str;
                    else
                        return paddingLeft("0" + str, lenght);
                }
                //X軸座標
                var xData = [];
                var h=0;
                var m =0;
                for (var i = 0; i < 24; i++) {
                    for (var j = 0; j < 60; j = j + 15) {
                        var hh = i;
                        var mm = j;
                        if (h == 0) {
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                        }
                        if (h > 0) {
                            hh = i + h;
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                            if (hh >= 24) {
                                hh = hh - 24;
                            }
                        }
                        xData.push(paddingLeft(hh.toString(), 2) + ":" + paddingLeft(mm.toString(), 2));
                    }
                }
                //Y軸座標
                var BatteryData = [];
                BatteryData.push(@TempData["BatteryData"]);
                option = null;
                option = {
                    title: {
                        text: 'SOC平均',
                        textStyle: {
                            fontWeight: 'small',
                            color: 'white'
                        },
                        x: "center"
                    },
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {
                                title: '圖檔'
                            }
                        }
                    },
                    xAxis: [
                        {
                            name: '時間',
                            type: 'category',
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '電池容量平均(%)',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "電池容量平均(%)",
                            "type": "line",
                            "data": BatteryData,
                            areaStyle: {}
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    BatteryChart.setOption(option, true);
                }
            </script>
        </div>
    </div>
    <!--right-->
    <div class="col-2 h3">
        <div class=" bg-light">可用總電量</div>
        <div class="font-italic">@ViewBag.Demand</div>
        <div class="bg-light">可用電時數</div>
        <div class="font-italic">@ViewBag.RemainTime</div>
    </div>
</div>





