@using Service.ESS.Provider;
@using Service.ESS.Model;
@{
    GridPowerService gridPowerService = new GridPowerService();
    GridPower gridPowers = gridPowerService.ReadNow();
}
<div class="row">
    <!--lift-->
    <div class="col-2 h6">
        <div class="row " id="pc0">
            <div class="col font-weight-bold small">資料時間(UTC)</div>
            <div class="col font-italic">@gridPowers.date_time</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電壓(V)</div>
            <div class="col font-italic">@string.Format("{0:0.0}", gridPowers.Vavg)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電流(A)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.Isum)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">實功率(kW)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.Watt_t / 1000.0)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">虛功率(kVAR)</div>
            <div class="col font-italic">@string.Format("{0:#,0.00}", gridPowers.Var_t / 1000.00)</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">視在功率(kVA)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.VA_t / 1000.0)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">功率因數(PF)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.PF_t)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">頻率(Hz)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.Frequency)</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">用電量(kWh)</div>
            <div class="col font-italic">@string.Format("{0:#,0.0}", gridPowers.kWHt)</div>
        </div>
    </div>
    <!--middle-->
    <div class="col-8">
        <div id="GridPowerChart" style="height:500px">
            <script type="text/javascript">
                var dom = document.getElementById("GridPowerChart");
                var GridPowerChart = echarts.init(dom);
                //時間兩位
                function paddingLeft(str, lenght) {
                if (str.length >= lenght)
                    return str;
                else
                    return paddingLeft("0" + str, lenght);
            }
                //X軸座標
                var xData = [];
                var h=@TempData["GridPowerhh"];
                var m =@TempData["GridPowermm"];
                for (var i = 0; i < 24; i++) {
                    for (var j = 0; j < 60; j = j + 15) {
                        var hh = i;
                        var mm = j;
                        if (h == 0) {
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                        }
                        if (h > 0) {
                            hh = i + h;
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                            if (hh >= 24) {
                                hh = hh - 24;
                            }
                        }
                        xData.push("'" + paddingLeft(hh.toString(), 2) + "時" + paddingLeft(mm.toString(), 2) + "分'");
                    }
                }            
            //Y軸座標
                var GridPowerData = [];
                GridPowerData.push(@TempData["GridPowerData"] );
                option = null;
                option = {
                    title: {
                        text: '每日用電瓦數',
                        textStyle: {
                            fontWeight: 'normal',
                            color: 'white'
                        },
                        x: "center"
                    },
                    tooltip: {
                        show: true
                    },
                    xAxis: [
                        {
                            name: '時間軸',
                            type: 'category',
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'white',
                                    width: 10
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '用電單位',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'white',
                                    width: 10
                                }
                            },
                            axisLabel: {
                                formatter: '{value} kW'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "每日用電瓦數",
                            "type": "bar",
                            "data": GridPowerData,
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    GridPowerChart.setOption(option, true);
                }
            </script>
        </div>
    </div>
    <!--right-->
    <div class="col-2 h3">
        <div class=" bg-light">可用總電量</div>
        <div class="font-italic">@ViewBag.Demand  kWh</div>
        <div class="bg-light">可用電時數</div>
        <div class="font-italic">@ViewBag.RemainTime 小時</div>
    </div>
</div>