<style>
    .line {
        width: auto;
        height: auto;
        border-bottom: 1px solid black;
    }
</style>


<div class="row">
    <!--lift-->
    <div class="col-2 h6">
        <div class="row " id="pc0">
            <div class="col font-weight-bold ">資料時間:@ViewBag.EssTime</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold ">@ViewBag.solarInfo11</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電壓(V)</div>
            <div class="col ">@ViewBag.solarInfo12</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電流(A)</div>
            <div class="col ">@ViewBag.solarInfo13</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">功率(kW)</div>
            <div class="col ">@ViewBag.solarInfo14</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">當日發電量(度)</div>
            <div class="col ">@ViewBag.solarInfo15</div>
            @*<div class="w-100 line"></div>
            <div class="col font-weight-bold ">@ViewBag.solarInfo21</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電壓(V)</div>
            <div class="col ">@ViewBag.solarInfo22</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電流(A)</div>
            <div class="col ">@ViewBag.solarInfo23</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">功率(kW)</div>
            <div class="col ">@ViewBag.solarInfo24</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">當日發電量(度)</div>
            <div class="col ">@ViewBag.solarInfo25</div>*@
        </div>
    </div>
    <!--middle-->
    <div class="col-8">
        <div id="SolarChart" style="height:500px">
            <script type="text/javascript">
                var dom = document.getElementById("SolarChart");
            var SolarChart = echarts.init(dom);
            //時間兩位
            function paddingLeft(str, lenght) {
                if (str.length >= lenght)
                    return str;
                else
                    return paddingLeft("0" + str, lenght);
            }
            //X軸座標
                var xData = [];
                var h=0;
                var m =0;
                for (var i = 0; i < 24; i++) {
                    for (var j = 0; j < 60; j = j + 15) {
                        var hh = i;
                        var mm = j;
                        if (h == 0) {
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                        }
                        if (h > 0) {
                            hh = i + h;
                            if (m > 0) {
                                mm = j + m;
                                if (mm >= 60) {
                                    mm = mm - 60;
                                    hh = hh + 1;
                                }
                            }
                            if (hh >= 24) {
                                hh = hh - 24;
                            }
                        }
                        xData.push(paddingLeft(hh.toString(), 2) + ":" + paddingLeft(mm.toString(), 2));
                    }
                }
            //Y軸座標
                var sun0 = [];
                //var sun1 = [];
                sun0.push(@TempData["Sun0"] );
                @*sun1.push(@TempData["Sun1"] );*@
                option = null;
                option = {
                    title: {
                        text: '太陽能',
                        textStyle: {
                            fontWeight: 'small',
                            color: 'white'
                        },
                        x: "left"
                    },
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    legend: {
                        data: ['太陽能發電功率']
                         //    data: ['太陽能1發電功率', '太陽能2發電功率']
                    }, 
                    toolbox: {
                        show: true,
                        feature: {
                            mark: { show: true },
                            magicType: { show: true, type: ['line', 'bar'], title: '圖格式' },
                            restore: { show: true, title: '復原' },
                            saveAsImage: { show: true, title: '圖檔' }
                        }
                    },
                    xAxis: [
                        {
                            name: '時間',
                            type: 'category',    
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: 'kW',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            name: "太陽能發電功率",
                            type: "line",
                            data: sun0,
                            stack: '累加',
                            areaStyle: {}
                        }
                        //{
                        //    name: "太陽能2發電功率",
                        //    type: "line",
                        //    data: sun1,
                        //    stack: '累加',
                        //    areaStyle: {}
                        //}
                    ]
                };
                if (option && typeof option === "object") {
                    SolarChart.setOption(option, true);
                }
            </script>
        </div>
    </div>
    <!--right-->
    <div class="col-2 h3">
        <div class=" bg-light">可用總電量</div>
        <div class="font-weight-bold">@ViewBag.Demand</div>
        <div class="bg-light">可用電時數</div>
        <div class="font-weight-bold">@ViewBag.RemainTime</div>
    </div>
</div>





