@using Support.Authorize;

<div class="row text-left justify-content-start ">
    <div class="col-sm col-md col-lg">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="@ViewBag.ButtomBulletin" onclick="location.href='@Url.Action("Bulletin", "Tab")'">@Resources.Resource.Bulletin</button>
            <button type="button" class="@ViewBag.ButtomInfo" onclick="location.href='@Url.Action("Info", "Tab")'">@Resources.Resource.Info</button>
            <button type="button" class="@ViewBag.ButtomAbnormal" onclick="location.href='@Url.Action("Abnormal", "Tab")'">@Resources.Resource.Abnormal</button>
            <button type="button" class="@ViewBag.Buttomhistory" onclick="location.href='@Url.Action("History", "Tab")'">@Resources.Resource.History</button>
        </div>
    </div>
</div>

