<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Html.Partial("Stylesheet")
    @Html.Partial("Scripts")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container py-5 " >
        <div class="row">
            <img width="200" height="200"src="~/Content/Image/Emblem_of_Pingtung_County.png" style="display:block; margin:auto;"/>
        </div>
        <div class="row text-center"  style="font-family:DFKai-sb;">
            <div class="col h2 align-middle">@ViewBag.Logo</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mainBody">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
