@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;

@model IPagedList<Service.ESS.Model.Bulletin>

@{
    ViewBag.Title = Resources.Resource.Bulletin;
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
    OrginService orginService = new OrginService();
    int x = 1,y = 1;
    string str = null;
    }

@Html.Partial("DataPicket")

<br/>
@using (Html.BeginForm("Bulletin", "Tab", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="daterange h5 text-center">
        <label>發表時間</label>
        <input class="col-3  " name="range_date" type="text">
        <button type="submit" class="btn btn-success btn-sm" id="btnBulletin">查詢</button>
        <i class="fa fa-calendar"></i>
    </div>
}
<br>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="text-left">
                <th scope="col" style="width:20%">發佈日期</th>
                <th scope="col" style="width:30%">標題</th>
                <th scope="col" style="width:30%">單位</th>
                <th scope="col" style="width:30%">內容</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bl in Model)
            {
                if (bl.Disabled == false)
                {
                    str= "bl" + x;
                <tr class="text-left">
                    <th scope="row">@bl.CreateDate.ToString("yyyy/MM/dd tt hh:mm:ss") </th>
                    <td>
                        <button type="button" class="btn btn-link align-baseline " data-toggle="modal" data-target="#@bl.Id">@bl.title</button>
                    </td>
                    <td>
                        @orginService.ReadID(bl.OrginID).OrginName.ToString().Trim()
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@str">
                            內容
                        </button>
                    </td>
                </tr>
                x++;
            }
        }
        </tbody>
    </table>
    <div>
        @foreach (var bl in Model)
        {
            if (bl.Disabled == false)
            {
               str= "bl" + y;
            <div class="modal fade" id="@str" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@bl.title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @bl.context
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            y++;
        }
    }
    </div>
    <div>@Html.PagedListPager(Model, Page => Url.Action("Bulletin", new { Page }))</div>
</div>





