@model Service.ESS.Model.Bulletin

@{
    ViewBag.Title = "新增公佈";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col text-left">
            <button type="button" class="btn btn-outline-primary btn-lg " onclick="location.href='@Url.Action("ListBulletin", "tab")'">回到公佈列表</button>
        </div>
    </div>
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="bg-transparent text-left">
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AccountID, new { AccountID = Session["UserName"] })

            <div class="form-group">
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.context, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.context, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.context, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OrginID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OrginID", (IEnumerable<SelectListItem>)ViewBag.Orgin, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrginID, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">新增站別</button>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<!-- Modal -->
@*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增站別</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe frameborder="1" style="height: 480px; width: 360px" frameborder="0" scrolling="no" src="/Tab/CreateOrgin"> </iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
*@






