@model Service.ESS.Model.Orgin

@{
    ViewBag.Title = "刪除單位";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="container">
    <div class="card col-2">
        <h class="card-header">是否刪除</h>
        <dt>
            @Html.DisplayNameFor(model => model.OrginCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrginCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrginName)
        </dd>

        @using (Html.BeginForm("Delete", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="刪除使用者" class="btn btn-default btn-lg" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>


