@{
    ViewBag.Title = Resources.Resource.History;
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

@Html.Partial("DataPicketTimer")

<br />
<div class="row h5">
    <div class="col text-left ">
        @using (Html.BeginForm("History", "Tab", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <label>時間區間</label>
            <input class="col-4" type="text" name="datetimes" id="datetimes" />
            @Html.Label("站別 : ");
            @Html.DropDownList("Statons", (IEnumerable<SelectListItem>)ViewBag.station, new { onchange = "this.form.submit();" })
            <i class="fa fa-calendar"></i>
            <input type="hidden" name="tabType" value=@ViewBag.onTab>
            <button type="submit" class="btn btn-success btn-sm" id="btnBulletin">查詢</button>
        }
    </div>
</div>

<ul class="nav nav-pills  navtop h3">
    <li class="nav-item">
        <a class="@ViewBag.navGridPower" href="#historyGridPower" data-toggle="tab"> @ViewBag.GridPower</a>
    </li>
    <li class="nav-item">
        <a class="@ViewBag.navBattery" href="#historyBattery" data-toggle="tab">@ViewBag.Battery</a>
    </li>
    <li class="nav-item">
        <a class="@ViewBag.navSolar" href="#historySolar" data-toggle="tab">@ViewBag.Solar</a>
    </li>
    <li class="nav-item">
        <a class="@ViewBag.navLoad" href="#historyLoad" data-toggle="tab">@ViewBag.Load</a>
    </li>
    <li class="nav-item">
        <a class="@ViewBag.navGenerator" href="#historyGenerator" data-toggle="tab">@ViewBag.Generator</a>
    </li>
    <li class="nav-item">
        <a class="@ViewBag.navInverters" href="#historyInverters" data-toggle="tab">@ViewBag.Inverters</a>
    </li>
</ul>
<div class="tab-content">
    <div class="@ViewBag.tabGridPower" role="tabpanel" id="historyGridPower">
        @Html.Partial("history/historyGridPower")
    </div>
    <div class="@ViewBag.tabLoad" role="tabpanel" id="historyLoad">
        @Html.Partial("history/historyLoad")
    </div>
    <div class=" @ViewBag.tabSolar" role="tabpanel" id="historySolar">
        @Html.Partial("history/historySolar")
    </div>
    <div class="@ViewBag.tabGenerator" role="tabpanel" id="historyGenerator">
        @Html.Partial("history/historyGenerator")
    </div>
    <div class="@ViewBag.tabInverters" role="tabpanel" id="historyInverters">
        @Html.Partial("history/historyInverters")
    </div>
    <div class="@ViewBag.tabBattery" role="tabpanel" id="historyBattery">
        @Html.Partial("history/historyBattery")
    </div>
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
