@{
    ViewBag.Title = Resources.Resource.Info;
    var check = TempData["nav"];
    int Num = ViewBag.StationNum==null?2: ViewBag.StationNum;
    Layout = Num == 6 ? "~/Views/Shared/_LayoutJiasing.cshtml" : "~/Views/Shared/_LayoutTab.cshtml";
}
@Html.Partial("Echart")

<div style="height:2vh"></div>
<div class="row">
    <div class="col"><h2>@ViewBag.viewstation </h2></div>
</div>

    <ul class="nav nav-pills  navtop h3">
        <li class="nav-item">
            <a class="@TempData["navLoad"]" href="#InfoLoad" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="Load",  StationNum=Num})'">@ViewBag.Load</a>
        </li>
        <li class="nav-item">
            <a class="@TempData["navSolar"]" href="#InfoSolar" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="Solar",  StationNum=Num})'">@ViewBag.Solar</a>
        </li>
        <li class="nav-item">
            <a class="@TempData["navGridPower"] " href="#InfoGridPower" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="GridPower",  StationNum=Num})'"> @ViewBag.GridPower</a>
        </li>
        <li class="nav-item">
            <a class="@TempData["navGenerator"]" href="#InfoGenerator" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="Generator",  StationNum=Num})'">@ViewBag.Generator</a>
        </li>
        <li class="nav-item">
            <a class="@TempData["navBattery"]" href="#InfoBattery" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="Battery",  StationNum=Num})'">@ViewBag.Battery</a>
        </li>
        <li class="nav-item">
            <a class="@TempData["navInverters"]" href="#InfoInverters" data-toggle="tab" onclick="location.href='@Url.Action("Info", "Tab",new { tabType="Inverters",  StationNum=Num})'">@ViewBag.Inverters</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="  @TempData["tabGridPower"] " role="tabpanel" id="InfoGridPower">
            @if (check.Equals("GridPower")) { { Html.RenderPartial("info/InfoGridPower"); } }
        </div>
        <div class="@TempData["tabBattery"] " role="tabpanel" id="InfoBattery">
            @if (check.Equals("Battery")) { Html.RenderPartial("info/InfoBattery"); }
        </div>
        <div class="@TempData["tabSolar"]" role="tabpanel" id="InfoSolar">
            @if (check.Equals("Solar")) { Html.RenderPartial("info/InfoSolar"); }
        </div>
        <div class="@TempData["tabLoad"]" role="tabpanel" id="InfoLoad">
            @if (check.Equals("Load")) { Html.RenderPartial("info/InfoLoad"); }
        </div>
        <div class="@TempData["tabGenerator"]" role="tabpanel" id="InfoGenerator">
            @if (check.Equals("Generator")) { Html.RenderPartial("info/InfoGenerator"); }
        </div>
        <div class="@TempData["tabInverters"] " role="tabpanel" id="InfoInverters">
            @if (check.Equals("Inverters")) { Html.RenderPartial("info/InfoInverters"); }
        </div>
    </div>

