@using Support.Authorize;
@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@model IPagedList<Service.ESS.Model.Bulletin>
@{
    ViewBag.Title = "公佈列表";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    OrginService orginService = new OrginService();
    AccountService accountService = new AccountService();
}

<div class="row">
    <div class="col text-left">
        <button type="button" class="btn btn-outline-primary btn-lg " onclick="location.href='@Url.Action("CreateBulletin", "Tab")'">新增公佈</button>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-outline-warning btn-lg " onclick="location.href='@Url.Action("Maintain", "Tab")'">回到維護頁</button>
    </div>
</div>

<br />
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().title)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().context)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().CreateDate)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Disabled)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().OrginID)
                    </th>
                    <th scope="col" style="width:10%">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().AccountID)
                    </th>
                    <th scope="col" class="text-center">
                        <h4>功能選項</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.context)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => orginService.ReadID(item.OrginID).OrginName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => accountService.ReadByID(item.AccountID).UserName)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("EditBulletin", "Tab" , new { id = item.Id })'">編輯</button>
                            @if (item.Disabled)
                            {<button type="button" class="btn btn-light" onclick="location.href='@Url.Action("DisableBulletin", "Tab" , new { id = item.Id })'">啟用</button>}
                            else
                            {<button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("DisableBulletin", "Tab" , new { id = item.Id })'">停用</button>}

                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteBulletin", "Tab" , new { id = item.Id })'">刪除</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>@Html.PagedListPager(Model, Page => Url.Action("ListBulletin", new { Page }))</div>
    </div>
</div>

