@using Support.Authorize;
@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@model IPagedList<Service.ESS.Model.Station>
@{
    ViewBag.Title = "站別列表";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    StationService stationService = new StationService();
}

<div class="row">
    <div class="col text-left">
        <button type="button" class="btn btn-outline-primary btn-lg " onclick="location.href='@Url.Action("CreateBulletin", "Tab")'">新增公布</button>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-outline-warning btn-lg " onclick="location.href='@Url.Action("Maintain", "Tab")'">回到維護頁</button>
    </div>
</div>


<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StationCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().StationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().UUID)
                    </th>
                    <th scope="col" class="text-center">
                        <h4>功能選項</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StationCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UUID)
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("EditStation", "Tab" , new { id = item.Id })'">編輯</button>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteStation", "Tab" , new { id = item.Id })'">刪除</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>@Html.PagedListPager(Model, Page => Url.Action("ListOrgin", new { Page }))</div>
    </div>
</div>
