
<style type="text/css">

    .pad5 {
        padding-right: 0;
        padding-left: 5px;
    }

    .borderStyle {
        border: 1px solid #555555;
        border-radius: 8px;
    }

    .pz {
        margin: auto;
        vertical-align: middle;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
</style>


<div class="row pz">
    <div class="col h3 pz">電池</div>
</div>

<div style="height:1vh"></div>
<div class="row h6 pz">
    <div class="col font-weight-bold pz">資料時間:@ViewBag.EssTime </div>
</div>
<div style="height:1vh"></div>

<div class="row ">
    <div class="col-4 font-weight-bold ">電池組 </div>
    <div class="col-2 font-weight-bold "> @ViewBag.BatteryInfo11</div>
    <div class="col-2 font-weight-bold "> @ViewBag.BatteryInfo21</div>
    <div class="col-2 font-weight-bold "> @ViewBag.BatteryInfo31</div>
    <div class="col-2 font-weight-bold "> @ViewBag.BatteryInfo41</div>
    <div class="w-100"></div>
    <div class="col-4 font-weight-bold small pad5">電池電壓(V)</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo12</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo22</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo32</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo42</div>
    <div class="w-100"></div>
    <div class="col-4 font-weight-bold small pad5">充電電流(A)</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo13</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo23</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo33</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo43</div>
    <div class="w-100"></div>
    <div class="col-4 font-weight-bold small pad5">放電電流(A)</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo14</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo24</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo34</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo44</div>
    <div class="w-100"></div>
    <div class="col-4 font-weight-bold small pad5">電池容量(%)</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo15</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo25</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo35</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo45</div>
    <div class="w-100"></div>
    <div class="col-4  font-weight-bold small">充電次數</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo16</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo26</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo36</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo46</div>
    <div class="w-100"></div>
    <div class="col-4 font-weight-bold small pad5">充電方向</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo17</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo27</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo37</div>
    <div class="col-2  pad5">@ViewBag.BatteryInfo47</div>
</div>

<div class="row">
    <div class="col text-center ChartSize" id="mainBattery">
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById("mainBattery");
                var BatteryChart = echarts.init(dom);
                //時間兩位
                function paddingLeft(str, lenght) {
                    if (str.length >= lenght)
                        return str;
                    else
                        return paddingLeft("0" + str, lenght);
                }
                //X軸座標
                var xData = [];
                var h =@ViewBag.nowHour;
                    for (var i = 0; i < 24; i++) {
                        if (h > 0) {
                            var hh = i + h;
                            if (hh >= 24) { hh = hh - 24; }
                            xData.push(paddingLeft(hh.toString(), 2) + "時");
                        }
                    }
                //Y軸座標
                var BatteryData = [];
                BatteryData.push(@ViewBag.BatteryData);
                option = null;
                option = {
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    legend: {
                        data: ['電池容量平均(%)']
                    },
                    xAxis: [
                        {
                            nameLocation:'start',
                            type: 'category',
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '電池容量\n平均(%)',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "電池容量平均(%)",
                            "type": "line",
                            "data": BatteryData,
                            "areaStyle": {}
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    BatteryChart.setOption(option, true);
                }
</script>

