<style type="text/css">
    .pz {
        margin: auto;
        vertical-align: middle;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="row pz">
    <div class="col h3 pz">市電</div>
</div>

<div style="height:1vh"></div>
<div class="row h6 pz">
    <div class="col font-weight-bold pz">資料時間:@ViewBag.EssTime </div>
</div>
<div style="height:1vh"></div>

<div class="row">
    <div class="col ">
        <div class="row " id="AppGridData">
            <div class="col font-weight-bold small">電壓(V)</div>
            <div class="col ">@ViewBag.gridInfo2</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電流(A)</div>
            <div class="col ">@ViewBag.gridInfo3</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">實功率(kW)</div>
            <div class="col ">@ViewBag.gridInfo4</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">虛功率(kVAR)</div>
            <div class="col ">@ViewBag.gridInfo5</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">視在功率(kVA)</div>
            <div class="col ">@ViewBag.gridInfo6</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">功率因數(PF)</div>
            <div class="col ">@ViewBag.gridInfo7</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">頻率(Hz)</div>
            <div class="col ">@ViewBag.gridInfo8</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">當日用電量(度)</div>
            <div class="col ">@ViewBag.gridInfo9</div>
            <div class="w-100"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center ChartSize" id="mainGridPower">
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById("mainGridPower");
                var GridPowerChart = echarts.init(dom);
                //時間兩位
                function paddingLeft(str, lenght) {
                if (str.length >= lenght)
                    return str;
                else
                    return paddingLeft("0" + str, lenght);
            }
                //X軸座標
                var xData = [];
                var h =@ViewBag.nowHour;
                    for (var i = 0; i < 24; i++) {
                        if (h > 0) {
                            var hh = i + h;
                            if (hh >= 24) { hh = hh - 24; }
                            xData.push(paddingLeft(hh.toString(), 2) + "時");
                        }
                    }
            //Y軸座標
                var Grid1 = [];
                Grid1.push(@ViewBag.Grid );
                option = null;
                option = {
                    title: {
                        text: '市電',
                        textStyle: {
                            fontWeight: 'small',
                            color: 'block'
                        },
                        x: "left"
                    },
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    legend: {
                        data: ['市電迴路']
                    },
                    xAxis: [
                        {
                            name: '時間',
                            type: 'category',
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '度',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "市電迴路",
                            "type": "line",
                            "data": Grid1,
                            "areaStyle": {},
                            stack: '累加'
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    GridPowerChart.setOption(option, true);
                }
</script>


