
<div class="row">
    <div class="col h3">
        <p> 逆變器</p>
    </div>
</div>
<div class="row">
    <div class="col h6">
        <div class="row " id="AppInvData">
            <div class="col font-weight-bold ">資料時間:@ViewBag.EssTime</div>
            <div class="w-100 line"></div>
            <div class="col font-weight-bold">@ViewBag.InvInfo1</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">工作模式</div>
            <div class="col font-italic">@ViewBag.InvInfo2</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">市電電壓  (V)</div>
            <div class="col font-italic">@ViewBag.InvInfo3</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">市電頻率  (Hz)</div>
            <div class="col font-italic">@ViewBag.InvInfo4</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">輸出電壓  (V)</div>
            <div class="col font-italic">@ViewBag.InvInfo5</div>
            <div class="w-100"></div>
            <div class="col  font-weight-bold small">輸出頻率  (Hz)</div>
            <div class="col font-italic">@ViewBag.InvInfo6</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">總輸出實功率(kW)</div>
            <div class="col font-italic">@ViewBag.InvInfo7</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池電壓  (V)</div>
            <div class="col font-italic">@ViewBag.InvInfo8</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">電池容量  (%)</div>
            <div class="col font-italic">@ViewBag.InvInfo9</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">太陽能電壓  (V)</div>
            <div class="col font-italic">@ViewBag.InvInfo10</div>
            <div class="w-100"></div>
            <div class="col font-weight-bold small">總充電電流  (A)</div>
            <div class="col font-italic">@ViewBag.InvInfo11</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center" id="mainInverter" style="width: 320px;height:300px;vertical-align:middle">
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById("mainInverter");
                var InverterChart = echarts.init(dom);
                //時間兩位
                function paddingLeft(str, lenght) {
                    if (str.length >= lenght)
                        return str;
                    else
                        return paddingLeft("0" + str, lenght);
                }
                //X軸座標
                var xData = [];
                for (var i = 0; i < 24; i++) {
                    xData.push(paddingLeft(i.toString(), 2) + "時" );
                }
                //Y軸座標
                 var InverterData = [];
                InverterData.push(@ViewBag.InverterData);
                option = null;
                option = {
                   
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            name: '時間',
                            type: 'category',
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '總輸出\n實功率\n(kW)',
                            type: 'value',
                            TextStyle: {
                                align: 'left'
                            },

                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "總輸出實功率(kW)",
                            "type": "line",
                            "data": InverterData,
                            areaStyle: {}
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    InverterChart.setOption(option, true);
                }
</script>
