@Html.Partial("Echart")

<div class="row">
    <div class="col h3">
        <p> 負載</p>
    </div>
</div>
<div class="row" id="APPloadrow2">
    <div class="col h6">
            <div class="row " id="ApploadData">
                <div class="col font-weight-bold ">資料時間:@ViewBag.EssTime </div>
                <div class="w-100 line"></div>
                <div class="col font-weight-bold ">@ViewBag.LoadInfo1</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">電壓(V)</div>
                <div class="col font-italic">@ViewBag.LoadInfo2</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">電流(A)</div>
                <div class="col font-italic">@ViewBag.LoadInfo3</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">實功率(kW)</div>
                <div class="col font-italic">@ViewBag.LoadInfo4</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">虛功率(kVAR)</div>
                <div class="col font-italic">@ViewBag.LoadInfo5</div>
                <div class="w-100"></div>
                <div class="col  font-weight-bold small">視在功率(kVA)</div>
                <div class="col font-italic">@ViewBag.LoadInfo6</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">功率因數(PF)</div>
                <div class="col font-italic">@ViewBag.LoadInfo7</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">頻率(Hz)</div>
                <div class="col font-italic">@ViewBag.LoadInfo8</div>
                <div class="w-100"></div>
                <div class="col font-weight-bold small">當日用電量(度)</div>
                <div class="col font-italic">@ViewBag.LoadInfo9</div>
            </div>
    </div>
</div>
<div class="row">
    <div class="col text-center" id="mainLoad" style="width: 320px;height:300px;vertical-align:middle">
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById("mainLoad");
                var APPLoadChart = echarts.init(dom);
            //時間兩位
            function paddingLeft(str, lenght) {
                if (str.length >= lenght)
                    return str;
                else
                    return paddingLeft("0" + str, lenght);
            }
            //X軸座標
                var xData = [];
                for (var i = 0; i < 24; i++) {
                        xData.push(paddingLeft(i.toString(),2) + "時" );
                    }
            //Y軸座標
                var Load = [];
                Load.push(@ViewBag.LoadAPP);
                option = null;
                option = {
                    title: {
                        text: '負載用電瓦數',
                        textStyle: {
                            fontWeight: 'normal',
                            color: 'block'
                        },
                        x: "left"
                    },
                    tooltip: {
                        trigger: 'axis',
                        show: true
                    },
                    grid: {
                        left: '2%',
                        right: '4%',
                        bottom: '1%',
                        containLabel: true
                    },
                    legend: {
                        data: ['負載迴路']
                    },
                    xAxis: [
                        {
                            name: '時間',
                            type: 'category',
                            boundaryGap: false,
                            data: xData,
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                    ],
                    yAxis: [
                        {
                            name: '度',
                            type: 'value',
                            axisLine: {
                                lineStyle: {
                                    color: 'gray',
                                    width: 2
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            "name": "負載迴路",
                            "type": "line",
                            "data": Load,
                            "areaStyle": {}
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    APPLoadChart.setOption(option, true);
                }
</script>



