@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@using Service.ESS.Model;
@model IPagedList<Service.ESS.Model.ESSObject>

@{
    InverterService inverterService = new InverterService();
    DateTime startDay = ViewBag.startDay;
    DateTime endDay = ViewBag.endDay;
    string sDay = startDay.ToString();
    string eDay = endDay.ToString();
    string startTime = startDay.ToString("HH:mm:ss");
    string endTime = endDay.ToString("HH:mm:ss");
    var tabType = "Inverters";
    string connStr = tabType + "+" + sDay + "+" + eDay;
}

<script type="text/javascript">
    function closeInvModel() {
        $('#ImvertersModal').hide();
        $('.modal-backdrop').hide();
    }
</script>

<div class="row" align="center">
    <div class="col text-left">
        <p class="h6">開始時間:@startDay </p>
        <p class="h6">結束時間:@endDay</p>
        @*<p class="h6">共 @ViewBag.Count 筆資料</p>*@
    </div>
    <div class="col h5">@ViewBag.Inverters</div>
    <div class="col ">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#ImvertersModal" style="float:right">
            Excel
        </button>
        <!--Modal -->
        <div class="modal fade" id="ImvertersModal" tabindex="-1" role="dialog" aria-labelledby="ImvertersModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@tabType</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("XLSX", "Tab", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio1" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">當日(00:00起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio2" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">當月(1日起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio3" id="inlineRadio3" value="option3" checked>
                                    <label class="form-check-label" for="inlineRadio4">區間</label>
                                </div>
                                <br>
                                開始時間:@startDay
                                <br>
                                結束時間:@endDay
                                <input type="hidden" name="startDay" value=@startDay>
                                <input type="hidden" name="endDay" value=@endDay>
                                <input type="hidden" name="startTime" value=@startTime>
                                <input type="hidden" name="endTime" value=@endTime>
                                <input type="hidden" name="tabType" value=@tabType>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm" id="btnHGP" onclick="closeInvModel()">匯出EXCEL</button>
                                <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">關閉</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--Modal -->
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width:15%">資料時間(UTC)</th>
                    <th scope="col" style="width:13%">工作模式</th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">市電電壓</div>
                            <div class="w-100"></div>
                            <div class="col">(V)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">市電頻率</div>
                            <div class="w-100"></div>
                            <div class="col">(Hz)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">輸出電壓</div>
                            <div class="w-100"></div>
                            <div class="col">(V)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">輸出頻率</div>
                            <div class="w-100"></div>
                            <div class="col">(Hz)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:9%">
                        <div class="row">
                            <div class="col">總輸出實功率</div>
                            <div class="w-100"></div>
                            <div class="col"> (kW)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">電池電壓</div>
                            <div class="w-100"></div>
                            <div class="col">(V)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">電池容量</div>
                            <div class="w-100"></div>
                            <div class="col"> (%)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">太陽能電壓</div>
                            <div class="w-100"></div>
                            <div class="col">(V)</div>
                        </div>

                    </th>
                    <th scope="col" style="width:7%">
                        <div class="row">
                            <div class="col">總充電電流</div>
                            <div class="w-100"></div>
                            <div class="col">(A)</div>
                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invs in Model)
                {
                    if (!string.IsNullOrEmpty(invs.InvertersIDs))
                    {
                        string T1 = null, T2 = null, T3 = null, T4 = null, T5 = null, T6 = null, T7 = null, T8 = null, T9 = null, T10 = null, T11 = null;
                        string[] IDs = invs.InvertersIDs.Trim().Split('+');
                        foreach (var inv in IDs)
                        {
                            if (!string.IsNullOrEmpty(inv))
                            {
                                Guid ID = Guid.Parse(inv);
                                Inverter inverter = inverterService.ReadByID(ID);
                                string mod = inverter.DeviceMode.Trim();
                                if (mod == "P") { mod = "Power On Mode"; }
                                else if (mod == "S") { mod = "Standby Mode"; }
                                else if (mod == "L") { mod = "Line Mode"; }
                                else if (mod == "B") { mod = "Battery Mode"; }
                                else if (mod == "F") { mod = "Fault Mode"; }
                                else if (mod == "H") { mod = "Power Saving Mode"; }
                                else { mod = "Unknown Mode"; }
                                T1 = inverter.UpdateTime.ToString();
                                T2 = mod;
                                T3 = string.Format("{0:#,0.0}", inverter.GridVoltage);
                                T4 = string.Format("{0:#,0.0}", inverter.GridFrequency);
                                T5 = string.Format("{0:#,0.0}", inverter.AC_OutputVoltage);
                                T6 = string.Format("{0:#,0.0}", inverter.AC_OutputFrequency);
                                T7 = string.Format("{0:#,0.0}", inverter.ParallelInformation_TotalOutputActivePower / 1000.0);
                                T8 = string.Format("{0:#,0.0}", inverter.BatteryVoltage);
                                T9 = string.Format("{0:#,0.0}", inverter.BatteryCapacity);
                                T10 = string.Format("{0:#,0.0}", inverter.PV_InputVoltage);
                                T11 = string.Format("{0:#,0.0}", inverter.ParallelInformation_TotalChargingCurrent);
                                <tr>
                                    <th scope="row">@T1</th>
                                    <td>@T2</td>
                                    <td>@T3</td>
                                    <td>@T4</td>
                                    <td>@T5</td>
                                    <td>@T6</td>
                                    <td>@T7</td>
                                    <td>@T8</td>
                                    <td>@T9</td>
                                    <td>@T10</td>
                                    <td>@T11</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        @if (!string.IsNullOrEmpty(Model.FirstOrDefault().InvertersIDs))
        {
            <div>@Html.PagedListPager(Model, Page => Url.Action("/history/historyInverters", new { connStr, Page }))</div>
        }
    </div>
</div>
