@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@using Service.ESS.Model;
@model IPagedList<Service.ESS.Model.ESSObject>

@{
    LoadPowerService loadPowerService = new LoadPowerService();
    DateTime startDay = ViewBag.startDay;
    DateTime endDay = ViewBag.endDay;
    string sDay = startDay.ToString();
    string eDay = endDay.ToString();
    string startTime = startDay.ToString("HH:mm:ss");
    string endTime = endDay.ToString("HH:mm:ss");
    var tabType = "Load";
    string connStr = tabType + "+" + sDay + "+" + eDay;
}
<script type="text/javascript">
    function closeLoadModel() {
        $('#LoadModal').hide();
        $('.modal-backdrop').hide();
    }
</script>

<div class="row" align="center">
    <div class="col text-left">
        <p class="h6">開始時間:@startDay </p>
        <p class="h6">結束時間:@endDay</p>
        <p class="h6">@ViewBag.StationName ; 共 @ViewBag.Count 筆資料</p>
    </div>
    @*<div class="col h5">@ViewBag.Load</div>*@
    <div class="col ">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#LoadModal" style="float:right">
            Excel
        </button>
        <!--Modal -->
        <div class="modal fade" id="LoadModal" tabindex="-1" role="dialog" aria-labelledby="LoadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@tabType</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("XLSX", "Tab", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">當日(00:00起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">當月(1日起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio3" value="option3" checked>
                                    <label class="form-check-label" for="inlineRadio4">區間</label>
                                </div>
                                <br>
                                開始時間:@startDay
                                <br>
                                結束時間:@endDay
                                <input type="hidden" name="startDay" value=@startDay>
                                <input type="hidden" name="endDay" value=@endDay>
                                <input type="hidden" name="startTime" value=@startTime>
                                <input type="hidden" name="endTime" value=@endTime>
                                <input type="hidden" name="tabType" value=@tabType>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm" id="btnHGP" onclick="closeGridModel()">匯出EXCEL</button>
                                <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">關閉</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--Modal -->
    </div>
</div>
<br />

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width:20%">資料時間</th>
                    <th scope="col" style="width:10%">平均電壓(V)</th>
                    <th scope="col" style="width:10%">總電流(A)</th>
                    <th scope="col" style="width:10%">總實功率(kW)</th>
                    <th scope="col" style="width:10%">總虛實功率(kVAR)</th>
                    <th scope="col" style="width:10%">總視在功率(kVA)</th>
                    <th scope="col" style="width:10%">平均功率因數(PF)</th>
                    <th scope="col" style="width:10%">平均頻率(Hz)</th>
                    <th scope="col" style="width:10%">總用電量(度)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var los in Model)
                {
                    if (!string.IsNullOrEmpty(los.LoadPowerIDs))
                    {
                        DateTime time = los.UpdateDate.AddHours(8);
                        DateTime BaseTime = new DateTime(time.Year, time.Month, time.Day);
                        string Timer = null;
                        double T1 = 0, T2 = 0, T3 = 0, T4 = 0, T5 = 0, T6 = 0, T7 = 0, T8 = 0;
                        string[] IDs = los.LoadPowerIDs.Trim().Split('|');
                        foreach (var lo in IDs)
                        {
                            if (!string.IsNullOrEmpty(lo.Trim()))
                            {
                                Guid ID = Guid.Parse(lo);
                                LoadPower loadPower = loadPowerService.ReadByID(ID);
                                Timer = time.ToString();
                                if (loadPower.index==2)
                                {
                                    T1 = loadPower.Vavg;
                                    T2 = loadPower.Isum;
                                    T3 = loadPower.Watt_t / 1000.0;
                                    T4 = loadPower.Var_t / 1000.0;
                                    T5 = loadPower.VA_t / 1000.0;
                                    T6 = loadPower.PF_t;
                                    T7 = loadPower.Frequency;
                                    T8 = loadPower.MinuskWHt;
                                }
                            }
                        }
                <tr>
                    <th scope="row">@Timer</th>
                    <td>@Math.Round(T1 , 2)</td>
                    <td>@Math.Round(T2, 2)</td>
                    <td>@Math.Round(T3, 2)</td>
                    <td>@Math.Round(T4, 2)</td>
                    <td>@Math.Round(T5, 2)</td>
                    <td>@Math.Round(T6 , 2)</td>
                    <td>@Math.Round(T7, 2)</td>
                    <td>@Math.Round(T8, 2)</td>
                </tr>
                    }
                }
            </tbody>
        </table>
        @if (Model.Count > 0)
        {
            if (!string.IsNullOrEmpty(Model.FirstOrDefault().LoadPowerIDs))
            {
                <div>@Html.PagedListPager(Model, Page => Url.Action("/history/historyLoad", new { connStr, Page }))</div>
            }
        }
        </div>
</div>
