@using PagedList;
@using PagedList.Mvc;
@using Service.ESS.Provider;
@using Service.ESS.Model;
@model IPagedList<Service.ESS.Model.ESSObject>

@{
    InverterService inverterService = new InverterService();
    DateTime startDay = ViewBag.startDay;
    DateTime endDay = ViewBag.endDay;
    string sDay = startDay.ToString();
    string eDay = endDay.ToString();
    string startTime = startDay.ToString("HH:mm:ss");
    string endTime = endDay.ToString("HH:mm:ss");
    var tabType = "Solar";
    string connStr = tabType + "+" + sDay + "+" + eDay;
}

<script type="text/javascript">
    function closeSolarModel() {
        $('#SolarModal').hide();
        $('.modal-backdrop').hide();
    }
</script>

<div class="row" align="center">
    <div class="col text-left">
        <p class="h6">開始時間:@startDay </p>
        <p class="h6">結束時間:@endDay</p>
        <p class="h6">共 @ViewBag.Count 筆資料</p>
    </div>
    @*<div class="col h5">@ViewBag.Solar</div>*@
    <div class="col ">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#SolarModal" style="float:right">
            Excel
        </button>
        <!--Modal -->
        <div class="modal fade" id="SolarModal" tabindex="-1" role="dialog" aria-labelledby="SolarModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@tabType</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("XLSX", "Tab", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">當日(00:00起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">當月(1日起算)</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadio" id="inlineRadio3" value="option3" checked>
                                    <label class="form-check-label" for="inlineRadio4">區間</label>
                                </div>
                                <br>
                                開始時間:@startDay
                                <br>
                                結束時間:@endDay
                                <input type="hidden" name="startDay" value=@startDay>
                                <input type="hidden" name="endDay" value=@endDay>
                                <input type="hidden" name="startTime" value=@startTime>
                                <input type="hidden" name="endTime" value=@endTime>
                                <input type="hidden" name="tabType" value=@tabType>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm" id="btnHGP" onclick="closeSolarModel()">匯出EXCEL</button>
                                <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">關閉</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--Modal -->
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width:20%">資料時間(UTC)</th>
                    <th scope="col" style="width:10%">電壓(V)</th>
                    <th scope="col" style="width:10%">電流(A)</th>
                    <th scope="col" style="width:10%">功率(kW)</th>
                    <th scope="col" style="width:10%">發電量(kWh)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var invs in Model)
                {
                    if (!string.IsNullOrEmpty(invs.InvertersIDs))
                    {
                        string T1 = null, T2 = null, T3 = null, T4 = null, T5 = null;
                        string[] IDs = invs.InvertersIDs.Trim().Split('+');
                        foreach (var inv in IDs)
                        {
                            if (!string.IsNullOrEmpty(inv))
                            {
                                Guid ID = Guid.Parse(inv);
                                Inverter inverter = inverterService.ReadByID(ID);
                                T1 = inverter.UpdateTime.ToString();
                                T2 = string.Format("{0:#,0.0}", inverter.SPM90Voltage);
                                T3 = string.Format("{0:#,0.0}", inverter.SPM90Current);
                                T4 = string.Format("{0:#,0.0}", inverter.SPM90ActiveEnergy / 1000.0);
                                T5 = string.Format("{0:#,0.0}", inverter.SPM90ActivePower);
                                <tr>
                                    <th scope="row">@T1</th>
                                    <td>@T2</td>
                                    <td>@T3</td>
                                    <td>@T4</td>
                                    <td>@T5</td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
        @if (!string.IsNullOrEmpty(Model.FirstOrDefault().InvertersIDs))
        {
        <div>@Html.PagedListPager(Model, Page => Url.Action("/history/historySolar", new { connStr, Page }))</div>
        }     
        </div>
</div>
